<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DEMO.Properties.Settings.MasterPolConnectionString"
            connectionString="Data Source=WANNADIE;Initial Catalog=MasterPol;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="DEMO.Properties.Settings.HospitalConnectionString"
            connectionString="Data Source=WANNADIE;Initial Catalog=Hospital;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>